{% extends "portal/portal_base.html" %}

{% block title %}My Account{% endblock %}
{% set header_title = "My Account" %}

{% block portal_content %}
<div class="portal-form-wrap">
    <form class="ticket-update" method="post" action="{{ url_for( 'portal.handler_update_account' ) }}" onsubmit="return confirm('Are you sure you want to change your account details?')">

        <h3>Account Details</h3>

        <p>Update your account details below.</p>

        <div class="form-field">
            <label for="eamil">Email Address:</label>
        
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
        
            <input type="text" id="email" name="email" value="{{email}}" placeholder="Email Address">
        </div>

        <div class="ticket-update__actions">
            <button type="submit" name="action" class="button" value="update_password">Update Email</button>
        </div>

        <div class="form-separator"></div>

        <h3>Password</h3>

        <div class="form-field">
            <label for="current_password">Current Password:</label>
            
            <div class="icon">
                <i class="fa-solid fa-check"></i>
            </div>
        
            <input type="password" id="current_password" name="current_password" spellcheck="false" placeholder="Confirm Your Current Password">
        </div>

        {% set password_strength_label = "Your new password must:" %}
        {% include "auth/template-parts/password-strength.html" %}

        <div class="form-field">
            <label for="new_password">New Password:</label>
            
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
        
            <input type="password" id="new_password" name="password" spellcheck="false" placeholder="Enter Your New Password">
        </div>

        <div class="form-field">
            <label for="password_confirm">Confirm New Password:</label>
        
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
        
            <input type="password" id="password_confirm" name="password_confirm" spellcheck="false" placeholder="Enter Your New Password Again">
        </div>
        
        <div class="ticket-update__actions">
            <button type="submit" name="action" class="button" value="update_password">Update Password</button>
        </div>

        <div class="form-separator"></div>

        <h3>Multi-Factor Authentication</h3>

        <p>Multi-Factor Authentication (MFA) is a security feature that requires you to verify your identity using a second method after you enter your password. This adds an extra layer of security to your account.</p>

        <div class="field-mfa">
            <i class="fa-solid fa-check"></i>
            <span>Multi-Factor Authentication is currently <strong>enabled</strong> on your account.</span>
        </div>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/password-strength.js') }}"></script>
{% endblock %}