<!DOCTYPE html>
<html>
    <head>
        <title>My Account</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    </head>
    <body>

        <div class="portal-wrap">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="notice notice-{{ category }}">
                            {{ message | safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="portal account">

                {% with page_title="Edit Account Details", page="account" %}
                    {% include "template-parts/header.html" %}
                {% endwith %}     

                <form class="ticket-update" method="post" action="{{ url_for( 'portal.handler_update_account' ) }}" onsubmit="return confirm('Are you sure you want to change your account details?')">

                    <div class="form-field">
                        <label for="login_email">Email Address:</label>
                        <input type="text" id="login_email" name="email" required="required" value="{{email}}">
                    </div>

                    <div class="form-field">
                        <label for="current_password">Current Password:</label>
                        <input type="password" id="current_password" name="password" spellcheck="false" required="required">
                    </div>

                    <h3>Change Password <small>(optional)</small></h3>

                    <div class="form-field">
                        <label for="new_password">New Password:</label>
                        <input type="password" id="new_password" name="new_password" spellcheck="false">
                    </div>

                    <div class="form-field">
                        <label for="new_password_confirm">Confirm New Password:</label>
                        <input type="password" id="new_password_confirm" name="new_password_confirm" spellcheck="false">
                    </div>

                    
                    <div class="ticket-update__actions">
                        <button type="submit" name="action" class="button button-primary" value="update">Update Account</button>
                    </div>

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
            </div>
        </div>
    </body>
</html>