{% extends "portal/portal_base.html" %}

{% block title %}My Tickets{% endblock %}
{% set header_title = "My Tickets" %}

{% set header_actions %}
    <a href="{{ url_for( 'portal.new_ticket' ) }}" class="button">Add Ticket</a>
{% endset %}

{% block portal_content %}

<table class="portal-tickets">
    <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Title</th>
            <th>Last Update</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.get_number() }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.last_updated }}</td>
                <td>{{ ticket.get_status_label() }}</td>
                <td><a href="{{ url_for( 'portal.ticket', id=ticket.ID ) }}">View Ticket</td>
            </tr>
        {% endfor %}
    </thead>
</table>

{% endblock %}