{% extends "portal/portal_base.html" %}

{% block title %}New User{% endblock %}
{% set header_title = "New User" %}

{% block portal_content %}
<div class="portal-form-wrap">
    <form class="ticket-update" method="post" action="{{ url_for( 'portal.handler_new_user' ) }}">

        <div class="form-field">
            <label for="eamil">Email Address:</label>
        
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
        
            <input type="text" id="email" name="email" value="" required="required" placeholder="Email Address">
        </div>

        <div class="form-field">
            <label for="password">Password:</label>
            
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
        
            <input type="password" id="password" name="password" spellcheck="false" placeholder="Password">
        </div>
        <div class="form-field">
            <label for="role">Role:</label>
            <select name="role" id="role" required="required">
                <option value="standard">Standard</option>
                <option value="administrator">Administrator</option>
            </select>
        </div>

        <div class="ticket-update__actions">
            <button type="submit" name="action" class="button button-primary" value="update" onclick="return confirm('Are you sure you want create a new user?')">Create User</button>
        </div>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
</div>
{% endblock %}