{% extends "portal/portal_base.html" %}

{% block title %}Users{% endblock %}
{% set header_title = "Users" %}

{% set header_actions %}
    <a href="{{ url_for( 'portal.new_user' ) }}" class="button">New User</a>
{% endset %}

{% block portal_content %}

<table class="portal-tickets">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Email Address</th>
            <th>Role</th>
            <th>Registered</th>
            <th>Last Login</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.ID }}</td>
                <td>{{ user.email }} {% if user.ID == current_user.id %}<b>(me)</b>{% endif %}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.get_date_created() }}</td>
                <td>{{ user.get_last_login() }}</td>
                <td>
                    {% if user.ID == current_user.id %}
                        <a href="{{ url_for( 'portal.account' ) }}">Edit User</a>
                    {% elif user.role != 'superadministrator' %}
                        <a href="{{ url_for( 'portal.user', id=user.ID ) }}">Edit User</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </thead>
</table>
{% endblock %}