{% extends "portal/portal_base.html" %}

{% block title %}Edit User{% endblock %}
{% set header_title = "Edit User (ID: " ~ user.id ~ ")" %}

{% block portal_content %}
<div class="portal-form-wrap">
    <form class="ticket-update" method="post" action="{{ url_for( 'portal.handler_edit_user' ) }}">

        <div class="form-field">
            <label for="eamil">Email Address:</label>
        
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
        
            <input type="text" id="email" name="email" value="{{ user.email }}" required="required" placeholder="Email Address">
        </div>

        <div class="form-field">
            <label for="password">Change Password:</label>
            
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
        
            <input type="password" id="password" name="password" spellcheck="false" placeholder="New Password">
        </div>

        <div class="form-field">
            <label for="role">Role:</label>
            <select name="role" id="role" required="required">
                <option value="standard" {% if user.role == 'standard' %} selected="selected" {% endif %}>Standard</option>
                <option value="administrator" {% if user.role == 'administrator' %} selected="selected" {% endif %}>Administrator</option>
            </select>
        </div>

        <div class="ticket-update__actions">
            <button type="submit" name="action" class="button button-primary" value="update" onclick="return confirm('Are you sure you want to update this user account?')">Update User</button>
            <button type="submit" name="action" class="delete" value="delete" onclick="return confirm('Are you sure you want to delete this user? This action is not reversible')">Delete</button>
        </div>

        <input type="hidden" name="user_id" value="{{ user.id }}"/>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
</div>
{% endblock %}