<div class="password-strength">
    <div class="password-strength-label">{{ password_strength_label }}</div>

    <div class="password-strength-criteria length">
        <span class="password-strength-criteria-icon">
            <i class="fa-solid fa-check"></i>
            <i class="fa-solid fa-xmark"></i>
        </span>
        <span class="password-strength-criteria-label">Be at least 8 characters long</span>
    </div>

    <div class="password-strength-criteria uppercase">
        <span class="password-strength-criteria-icon">
            <i class="fa-solid fa-check"></i>
            <i class="fa-solid fa-xmark"></i>
        </span>
        <span class="password-strength-criteria-label">Contain at least one uppercase letter</span>
    </div>

    <div class="password-strength-criteria lowercase">
        <span class="password-strength-criteria-icon">
            <i class="fa-solid fa-check"></i>
            <i class="fa-solid fa-xmark"></i>
        </span>
        <span class="password-strength-criteria-label">Contain at least one lowercase letter</span>
    </div>

    <div class="password-strength-criteria number">
        <span class="password-strength-criteria-icon">
            <i class="fa-solid fa-check"></i>
            <i class="fa-solid fa-xmark"></i>
        </span>
        <span class="password-strength-criteria-label">Contain at least one number</span>
    </div>

    <div class="password-strength-criteria special">
        <span class="password-strength-criteria-icon">
            <i class="fa-solid fa-check"></i>
            <i class="fa-solid fa-xmark"></i>
        </span>
        <span class="password-strength-criteria-label">Contain at least one special character</span>
    </div>
</div>