{% extends "emails/email_base.html" %}

{% block content %}
<h1 style="margin: 0; font-size: 24px; color: #333333;">Verify your email address</h1>
<p>You need to verify your email address to begin using your account on the CA Portal. Please click the button below to verify your email address</p>

<a href="{{ url_for( 'auth.verify_email', id=user_id, token=token, _external=True ) }}" style="display: inline-block; padding: 10px 20px; background-color: #01BBC5; color: #ffffff; text-decoration: none; border-radius: 4px; margin-bottom: 20px;">Verify Email Address ></a>

{% if env == 'development' %}
    <p style="margin-bottom: 10px;"><b>IMPORTANT: </b> This email was sent from a development environment. If this was from local, the link above will not work (due to Mailgun). Copy & paste the URL below into your browser.</p>
    <p style="margin-bottom: 20px;">{{ url_for( 'auth.verify_email', id=user_id, token=token, _external=True ) }}</p>
{% endif %}

<p style="margin: 0;">Kind regards,<br/>Creative Asset</p>
{% endblock %}

{% block footer %}
You're receiving this email because you recently registered an account on the CA Portal.
{% endblock %}