<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>

        <div class="login-wrap">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="notice notice-{{ category }}">
                            {{ message | safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <div class="login">
                
                <div class="login-header">
                    <img src="{{ url_for('static', filename='/images/ca-logo.png') }}" alt="Creative Asset Logo">
                </div>

                <form id="login-form" action="" method="POST">

                    <h2>Log in to your account</h2>

                    <div class="form-field">
                        <label for="login_email">Email Address:</label>

                        <div class="icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        
                        <input type="text" id="login_email" name="email" required="required" value="{{email}}" placeholder="Email address">
                    </div>

                    <div class="form-field">
                        <label for="login_password">Password:</label>

                        <div class="icon">
                            <i class="fa-solid fa-lock"></i>
                        </div>

                        <input type="password" id="login_password" name="password" spellcheck="false" required="required" placeholder="Password">
                    </div>

                    <input type="submit" name="submit" id="login_submit" class="button button-primary" value="Log In">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
                <p class="register-message">Don't have an account? <a href="{{ url_for( 'register' ) }}">Register now</a></p>
            </div>
        </div>
    </body>
</html>