<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>

        <div class="login-wrap two-factor-setup">
            
            <div class="login">
                
                <div class="login-header">
                    <img src="{{ url_for('static', filename='/images/ca-logo.png') }}" alt="Creative Asset Logo">
                </div>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="notice notice-{{ category }}">
                                {{ message | safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form id="login-form" action="{{ confirm_url }}" method="POST">

                    <h2>Secure your account with Two Factor Authentication</h2>

                    <div class="qr-code">
                        <div>Scan the QR code below with your authenticator app:</div>

                        {{qrcode_image | safe}}
                    </div>

                    <div class="secret">
                        <div>Or enter the secret key below:</div>
                        <input type="text" name="secret" id="secret" value="{{secret}}" readonly>
                    </div>
                  
                    <input type="submit" name="submit" id="login_submit" class="button button-primary" value="Next">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
            </div>
        </div>
    </body>
</html>