<!DOCTYPE html>
<html>
    <head>
        <title>Ticket #{{ ticket.ID }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    </head>
    <body>

        <div class="portal-wrap">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="notice notice-{{ category }}">
                            {{ message | safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="portal ticket">

                {% with page_title="New Ticket", page="index" %}
                    {% include "template-parts/header.html" %}
                {% endwith %}

                <div class="ticket-info">
                    <div class="ticket-info__item">
                        <div class="ticket-info__item__label">Ticket ID</div>
                        <div class="ticket-info__item__value">{{ ticket.number }}</div>
                    </div>
                    <div class="ticket-info__item">
                        <div class="ticket-info__item__label">Status</div>
                        <div class="ticket-info__item__value">{{ ticket.status_label }}</div>
                    </div>
                    <div class="ticket-info__item">
                        <div class="ticket-info__item__label">Date Created</div>
                        <div class="ticket-info__item__value">{{ ticket.date_created }}</div>
                    </div>
                    <div class="ticket-info__item">
                        <div class="ticket-info__item__label">Last Updated</div>
                        <div class="ticket-info__item__value">{{ ticket.last_updated }}</div>
                    </div>
                </div>

                <div class="ticket-comments">

                    {% for comment in comments %}
                        <div class="ticket-comment {% if comment.user_id == user.id and not user.is_admin() %}customer{% else %}support{% endif %}">
                            
                            <div class="ticket-comment__top">
                                
                                <span class="ticket-comment__author">
                                    {% if current_user.id == user.id %}
                                        Me
                                    {% elif comment.user_id == user.id and not user.is_admin() %}
                                        Customer ({{ user.email }})
                                    {% else %}
                                        Support
                                    {% endif %}
                                </span>
                                <span class="ticket-comment__date">{{ comment.date_created.strftime( '%d/%m/%Y' ) }}</span>
                                <span class="ticket-comment__time">{{ comment.date_created.strftime( '%H:%M' ) }}</span>
                            </div>

                            <div class="ticket-comment__content">
                                {{ comment.content | safe }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <form class="ticket-update" method="post" action="{{ url_for( 'handler_update_ticket' ) }}">
                    <h3>Update Ticket</h3>
                    <textarea placeholder="Ticket comments" name="comment"></textarea>

                    <div class="ticket-update__actions">

                        {% if ticket.status == 'complete' %}
                            <button type="submit" name="action" class="button button-primary" value="update" onclick="return confirm('Are you sure you want add a new comment to re-open this ticket?')">Re-Open Ticket</button>
                        {% else %}
                            <button type="submit" name="action" class="button button-primary" value="update" onclick="return confirm('Are you sure you want add a new comment to this ticket?')">Update</button>
                            <button type="submit" name="action" class="button" value="resolved" onclick="return confirm('Are you sure you want to mark this ticket as resolved?')">Update & Resolved</button>
                        {% endif %}

                        {% if current_user.is_admin() %}
                            <button type="submit" name="action" class="delete" value="delete" onclick="return confirm('Are you sure you want to delete this ticket? This action is not reversible')">Delete</button>
                        {% endif %}
                    </div>

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="ticket_id" value="{{ ticket.ID }}"/>
                </form>
            </div>
        </div>
    </body>
</html>