{% extends "base.html" %}

{% block content %}
<div class="login-wrap">
            
    <div class="login">
        
        <div class="login-header">
            <img src="{{ url_for('static', filename='images/ca-logo.png') }}" alt="Creative Asset Logo">
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="notice notice-{{ category }}">
                        {{ message | safe }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form id="login-form" action="{% block auth_form_action %}{% endblock %}" method="POST">
            {% block auth_form_content %}{% endblock %}
        </form>

        {% block auth_form_footer %}{% endblock %}
    </div>
</div>
{% endblock %}