{% extends "auth/auth_base.html" %}

{% block title %}Register{% endblock %}

{% block body_class %}page-auth-register{% endblock %}

{% block auth_form_action %}{{ url_for( 'auth.handler_create_account' ) }}{% endblock %}

{% block auth_form_content %}
<h2>Create an account</h2>

<div class="form-field">
    <label for="register_email">Email Address:</label>

    <div class="icon">
        <i class="fa-solid fa-user"></i>
    </div>

    <input type="text" id="register_email" name="email" required="required" value="{{email}}" placeholder="Email Address">
</div>

<div class="form-field">
    <label for="register_password">Password:</label>
    
    <div class="icon">
        <i class="fa-solid fa-lock"></i>
    </div>

    <input type="password" id="register_password" name="password" spellcheck="false" required="required" placeholder="Password">
</div>

<div class="form-field">
    <label for="register_password_confirm">Confirm Password:</label>

    <div class="icon">
        <i class="fa-solid fa-lock"></i>
    </div>

    <input type="password" id="register_password_confirm" name="password_confirm" spellcheck="false" required="required" placeholder="Confirm Password">
</div>

{% set password_strength_label = "Your password must:" %}
{% include "auth/template-parts/password-strength.html" %}

<input type="submit" name="submit" id="login_submit" class="button button-primary" value="Register">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
{% endblock %}

{% block auth_form_footer %}
<p class="register-message">Already have an account? <a href="{{ url_for( 'auth.login' ) }}">Log In</a></p>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/password-strength.js') }}"></script>
{% endblock %}